@import './_variables';

.container {
  max-width: none;
  padding: 0 20px;
  margin: 0 auto;

  @media(min-width: $breakpoint-tablet) {
    max-width: 840px;
    padding: 0 40px;
  }

  @media(min-width: $breakpoint-desktop) {
    max-width: 1280px;
    padding: 0 40px;
  }
}
