$brand-yellow: #fce38a;
$brand-pink: #f38181;
$brand-green: #eaffd0;
$brand-teal: #95e1d3;
$white: #fff;

$brand-teal--dark: #60bfad;

$text-dark: #333333;
$text-light: #999999;
$text-very-light: #cccccc; 

$breakpoint-mobile: 360px;
$breakpoint-tablet: 668px;
$breakpoint-desktop: 1280px;